h1{
  color:red;
}
div.sample{
  text-align: center;
  /* margin-left: 25%;
  margin-right: 25%; */
}
#main {
  margin-top: 5em;
}
body {
  font-family: sans-serif;
}

.image {
background-size: cover;
margin-top: auto;
width: 150px;
height: 250px;
}

.image img {
display: none;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
