{% block content %}
<div class="contained-fluid">
    <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <h2>Pourquoi ce site ?</h2>
        <p>L'entrée dans la vie étudiante peut être difficile, que ce soit à cause des démarches
            administratives de la vie quotidienne telles que le logement, la santé ou encore les démarches
            d'inscriptions qui peuvent, parfois, virer au cauchemar.
            Les étudiants sont souvent sans repères, c'est pourquoi ce site regroupe tout ce qui
            est bon à savoir en tant qu'étudiant.
            Un forum est à la disposition de tous pour échanger sur les difficultés de la vie quotidienne.</p>
    </div>
    <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <h2>Pour qui s'adresse-t-il ?</h2>
        <p>
            Pour tous les étudiants qui souhaitent des renseignements que ce soit pour des démarches
            administratives, ou bien pour trouver des moyens de se financer ou encore trouver des bon plans
            et autres astuces.</p>
    </div>
    <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <h2>Qui sommes-nous ?</h2>
        <p>Nous sommes une équipe de 9 étudiants d'un niveau allant de la première année de DUT informatique
            jusqu'à la licence professionnelle.
        </p>
    </div>
</div>
{% endblock %}